node_modules
dist
.env
.env.local
.env.production
*.log
.DS_Store
backups/
logs/

*.gpg
releases/latest-mac.yml
releases/latest.yml
latest-mac.yml
latest.yml
.env.prodclean
prisma/_prod_leads_backup.json
